$color-principal: #8f57fd;

$color-claro: white;
@import url(https://fonts.googleapis.com/css?family=Muli&display-swap);

$fuente1: "Muli", sans-serif;
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $fuente1;
  background: $color-principal;
}
